@model List<diemptbt>

<h1 style="margin-top:50px;">Chỉnh sửa thông tin</h1>

<form asp-controller="DiemPTBT" asp-action="EditDiemPTBTlink" method="post">
    <table class="table table-bordered" style="text-align:center;margin-top:50px;margin-left:auto;margin-right:auto" width="60%" border="0" cellspacing="0">
        <!--in ra thằng cần chỉnh sửa-->
        @foreach (var d in Model)
        {
            <tr>

               <td> <h4>LabID: </h4>                                             </td>
               <td> <input name="LabID" type="text" value="@d.LabID" required /> </td>
            </tr>
            <tr>
               <td> <h4>Tên:  </h4>                                             </td>
               <td> <input name="Ten" type="text" value="@d.Ten" required />    </td>

            </tr>
            <tr>
               <td> <h4>Điểm phát triển bản thân :</h4>                               </td>
               <td> <input name="DiemPTBT" type="text" value="@d.DiemPTBT" required />         </td>
            </tr>
        }
    </table>
    <button type="submit"> Submit </button>
</form>

<a asp-action="Index">Back to List</a>


@if (Model != null)
{
    {
        <table class="table table-bordered" style="text-align:center;margin-top:50px;margin-left:auto;margin-right:auto" width="60%" border="0" cellspacing="0">
            <tr>
                <th>LabID</th>
                <th>Tên</th>
                <th></th>
            </tr>
            @foreach (var d in Model)
            {
                <tr>
                    <td>@d.LabID</td>
                    <td>@d.Ten</td>
                    <td>@d.DiemPTBT</td>
                </tr>
            }
        </table>
    }
}
